# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional, if very large)
*.ckpt
*.tflite
